// menu and nav styles

#header {
    @apply h-24;
    position: fixed;
    transition: height 500ms ease-out 125ms, opacity 500ms ease-out 125ms;
    &.topped {
        @apply bg-white h-16 lg:h-24 opacity-100;
        transition: height 500ms ease-out 125ms, opacity 500ms ease-out 125ms;
    }
    &.header-onload {
        @apply h-16 lg:h-24 opacity-100;
        transition: height 500ms ease-out 125ms, opacity 500ms ease-out 125ms;
        animation-duration: 1000ms;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-name: popdown;
    }
    &.scroll-down {
        @apply bg-white h-16 opacity-100;
        box-shadow: 0 2px 1px -1px rgb(230, 228, 228);
        transition: height 500ms ease-out 125ms, opacity 500ms ease-out 125ms;
        position: fixed;
        .custom-logo {
          @apply transition-all duration-500 lg:h-14 lg:w-auto;
        }
        ul > li > a {
          @apply text-grey-dark;
        }
        ul li.active > a {
          @apply text-brand-main;
       }
    }

    &.scroll-up {
        @apply bg-white h-16 opacity-100;
        box-shadow: 0 2px 1px -1px rgb(230, 228, 228);
        transition: height 500ms ease-out 0ms, opacity 500ms ease-out 0ms;
        position: fixed;
        .custom-logo {
          @apply transition-all duration-500 lg:h-14 lg:w-auto;
        }
        ul > li > a {
          @apply text-grey-dark;
        }
        ul li.active > a {
          @apply text-brand-main;
       }
    }
    &.hold-down {
        @apply bg-white #{!important};
        box-shadow: 0 2px 7px -1px rgb(224, 224, 224);
        transition: height 500ms ease-out 125ms, opacity 500ms ease-out 125ms;
        position: fixed;
        .custom-logo {
          @apply transition-all duration-500;
        }
        ul > li > a {
          @apply text-grey-dark;
        }
        ul li.active > a {
          @apply text-brand-main;
        }
    }
  &:hover {
    @apply opacity-100;
    transition: height 250ms ease-out 0ms, opacity 250ms ease-out 0ms;
  }
  .custom-logo {
    @apply  transition-all ease-in duration-500 xl:h-20 w-auto;
  }
}

header {
  @apply uppercase;
  ul {
    @apply w-full flex flex-col lg:flex-row justify-between text-xl lg:text-base xl:text-lg transition-all duration-500;
    li.active > a {
      @apply text-brand-main;

    }
    li > a {
      @apply z-0 relative;
      &:hover {
        @apply text-brand-main #{!important};
      }
    }
  }      
}

#menu { 
  &.open {
    @apply h-auto z-10 translate-x-0 opacity-100 transition-transform duration-300 lg:duration-0;
  }
  li {
    @apply mb-2 lg:mb-0 lg:ml-5;
  }
}

.hamburger {
    @apply fixed lg:relative;
  &.open {
    span {
      &:first-child {
        transform: rotateZ(45deg);
      }
      &:last-child {
        transform: rotateZ(-45deg);
      }
    }
  }
}

@keyframes popdown {
    0%, 50% {
        transform: translateY(-15rem);
    }
    100% {
        transition: transform 500ms ease-out 0ms;
        transform: translateY(0rem);
    }
}